<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Editar producto</title>
  <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <div class="form-create">
      <div class="form-content">
        <div>
          <h2>Editar producto</h2>
        </div>
        <form action="/productDetail/<%= Product.id %>/edit?_method=PUT" method="POST">
          <div class="field input-field">
            <label for="name" class="form-label">Nombre:</label>
          <input type="text" id="name" name="name" placeholder="Ej: Felino Malbec 2021" class="form-input" value="<%= Product.name %>">
          </div>
          <div class="field input-field">
            <label for="store" class="form-label">Bodega:</label>
            <input type="text" id="store" name="store" placeholder="Ej: Catena Zapata" class="form-input" value="<%= Product.Stores.name %>">
          </div>
          <div class="field input-field">
            <label for="grape" class="form-label">Varietal:</label>
            <input type="text" id="grape" name="grape" placeholder="Ej: Cabernet Franc 2016" class="form-input" value="<%= Product.Styles.name%>">
          </div>
          <div class="field input-field">
            <label for="year" class="form-label">Año:</label>
          <input type="text" id="year" name="year" placeholder="Ej: 2016" class="form-input" value="<%= Product.year %>">
          </div>
          <div class="field input-field">
            <label for="typeOfBarrel" class="form-label">Tipo de barrica:</label>
          <input type="text" id="typeOfBarrel" name="typeOfBarrel" placeholder="Ej: Roble francés" class="form-input" value="<%= Product.TypeOfBarrel.name %>">
          </div>
          <div class="field input-field">
            <label for="timeInBarrel" class="form-label">Tiempo de barrica:</label>
          <input type="text" id="timeInBarrel" name="timeInBarrel" placeholder="Ej: 2 años" class="form-input" value="<%= Product.time_of_barrel %>">
          </div>
          <div class="field input-field">
            <label for="price" class="form-label">Precio:</label>
            <input type="text" id="price" name="price" placeholder="Ej: Cabernet Franc 2016" class="form-input" value="<%= Product.price %>">
          </div>
          <div class="field input-field">
            <label for="discount" class="form-label">Descuento:</label>
            <input type="text" id="discount" name="discount" placeholder="Ej: 10" class="form-input" value="<%= Product.discount %>">
          </div>
          <div class="field input-field">
            <label for="type" class="form-label">Tipo:</label>
          <select name="type" id="type">
              <option value=""><%= Product.ProductType.name %></option>
              <% productType.forEach(productType => { %> 
                  <option value="<%= productType.id %>"><%= productType.name %></option>
              <%}); %>
          </select>
          </div>
          <div class="field input-field">
            <label for="type" class="form-label">Segmento:</label>
          <select name="category" id="category">
            <option value=""><%= Product.ProductSegmentation.name %></option>
              <% productSegmentation.forEach(productSegmentation => { %> 
                  <option value="<%= productSegmentation.id %>"><%= productSegmentation.name %></option>
              <%}); %>
          </select>
          </div>
          <div class="field input-field input-description">
            <label for="description" class="form-label">Descripcion:</label>
            <textarea name="description" id="description" class="form-input"><%= Product.description %></textarea>
          </div>
          <div class="field input-field">
            <label for="products" class="input">Selecciona la imagen del producto: </label>
            <input type="file" name="image" accept=".img, .jpg, .jpeg, .png" class="input">
            <% if(locals.errors?.products) {%>
              <p class="error-msg"><%= errors.products.msg %></p>
          <% } %>
        </div>
          <div class="field button-field">
            <button type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>