<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>    
    <title>Spirits</title>
    <link rel="stylesheet" href="/css/styles-index.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/carousel') %>
        <h3>Spirits</h3>
        <section class="categories">
            <div class="products">
                <% for (let i = 0; i < products.length; i++) { if (products[i].ProductType.name === 'Spirit'){ %>
                <article>
                    <a href="/productDetail/<%= products[i].id %>">
                    <img src="/images/products/<%= products[i].image %>" class="product_img">
                    <div class="main-article">
                        <p class="price"><%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %></p>
                        <h4 class="store"><%= products[i].Stores ? products[i].Stores.name : 'Sin tienda' %></h4>
                        <h4 class="style"><%= products[i].Styles ? products[i].Styles.name : 'Sin barril' %></h4>
                    </div>
                    </a>
                </article>
            <% }} %>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>