<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>    
    <title>NINNA Regaleria</title>
    <link rel="stylesheet" href="/css/styles-index.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="carrusel">
            <div class="carrusel-items">
                <div class="carrusel-item">
                    <img src="/images/catena-zapata.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/los-intocables.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/luigi-bosca.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/piattelli.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/red-label.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/el-enemigo-malbec-2019.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/catena-zapata.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/los-intocables.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/luigi-bosca.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/piattelli.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/red-label.png" alt="Vino">
                </div>
                <div class="carrusel-item">
                    <img src="/images/el-enemigo-malbec-2019.png" alt="Vino">
                </div>
            </div>
        </div>
        <h3>Sugerencias</h3>
        <section class="categories">
            <div class="products">
                <% locals.sugerencias && sugerencias.forEach(product => { %>
                <article>
                    <a href="/productDetail/<%= product.id %>">
                    <img src="/images/products/<%= product.image %>" class="product_img">
                    <div class="main-article">
                        <p class="price"><%= product.price %></p>
                        <p class="discount"><%= product.discount %></p>
                        <h4 class="store"><%= product.name %></h4>
                        <h4 class="grape"><%= product.typeOfBarrel %></h4>
                        <div>
                            <P><h5>Calificacion</h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></P>
                        </div>
                    </div>
                    </a>
                </article>
            <% }) %>
            </div>
        <h3>Ofertas</h3>
        <section class="categories">
            <div class="products">
                <% locals.ofertas && ofertas.forEach(product => { %>
                    <article>
                        <a href="/productDetail/<%= product.id %>">
                            <img src="/images/products/<%= product.image %>" class="product_img">
                            <div class="main-article">
                                <p class="price">
                                    <%= product.price %>
                                </p>
                                <p class="discount"><%= product.discount %></p>
                                <h4 class="store">
                                    <%= product.store %>
                                </h4>
                                <h4 class="grape">
                                    <%= product.typeOfBarrel %>
                                </h4>
                                <div>
                                    <P>
                                    <h5>Calificacion</h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></P>
                                </div>
                            </div>
                        </a>
                    </article>
                    <% }) %>
            </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>