<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-register.css">
    <title>Registro</title>
</head>

<body>
    <header>
        <h2 class="logo">NINNA</h2>
        <nav class="navigation">
            <a href="/" class="btnHome">Inicio</a>
        </nav>
    </header>
    <main>
        <div class="form signup">
            <div class="form-content">
                <div class="header-2">Registrate</div>
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div class="field input-field">
                        <input 
                            type="text" placeholder="Nombre y Apellido" 
                            name="fullname" class="input" 
                            value="<%= locals.oldData?.fullname && oldData?.fullname %>">
                            <% if(locals.errors?.fullname) {%>
                                <p class="error-msg"><%= errors.fullname.msg %></p>
                            <% } %>
                    </div>

                    <div class="field input-field">
                        <input 
                            type="number" placeholder="Edad" min="18" 
                            name="age" class="input" value="<%= locals.oldData?.age && oldData?.age %>">
                            <% if(locals.errors?.age) {%>
                                <p class="error-msg"><%= errors.age.msg %></p>
                            <% } %>
                        </div>

                    <div class="field input-field">
                        <input 
                            type="number" placeholder="Numero de Documento" 
                            name="dni" class="input" value="<%= locals.oldData?.dni && oldData?.dni %>">
                        <% if(locals.errors?.dni) {%>
                            <p class="error-msg"><%= errors.dni.msg %></p>
                        <% } %>
                    </div>

                    <div class="field input-field">
                        <input 
                            type="email" placeholder="Email" 
                            name="email" class="input" value="<%= locals.oldData?.email && oldData?.email %>">
                        <% if(locals.errors?.email) {%>
                            <p class="error-msg"><%= errors.email.msg %></p>
                        <% } %>
                    </div>

                    <div class="field input-field">
                        <input 
                            type="password" placeholder="Contraseña" 
                            name="password" class="input">
                        <% if(locals.errors?.password) {%>
                            <p class="error-msg"><%= errors.password.msg %></p>
                        <% } %>
                    </div>
                    
                    <div class="field input-field">
                        <input type="password" placeholder="Confirmar Contraseña" class="input">
                    </div>
                  
                    <div class="field input-field">
                        <label for="avatar" class="input">Selecciona tu imagen de perfil: </label>
                        <input type="file" name="avatar" accept=".img, .jpg, .jpeg, .png" class="input">
                        <% if(locals.errors?.avatar) {%>
                            <p class="error-msg"><%= errors.avatar.msg %></p>
                        <% } %>
                    </div>
                    
                    <div class="field button-field">

                        <button type="submit">Registrarse</button>
                    </div>

                    <div class="form-link">
                        <span>Ya tienes una cuenta? <a href="http://localhost:3000/login" class="signup-link">Inicia
                                Sesion</a></span>
                    </div>
                </form>
            </div>
        </div>
        </section>
    </main>
</body>

</html>